<%= render 'form', post: Post.new %>
<h1>New Post</h1>
<%= form_for @post do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :content %>
<%= f.text_area :content %>
<p>Categories</p>
<%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
<p>Create a new Category</p>
<%= f.fields_for :categories, @a do |cf| %>
<%= cf.text_field :name %>
<% end %>
<%= f.submit %>
<% end %>
